<%@Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<script runat="server">
    protected void Calendar1_DayRender(object sender, DayRenderEventArgs e)
    {
        DateTime stratDate = new DateTime(2011,12,15);;
        DateTime endDate = new DateTime(2011,12,24);;

        if (e.Day.Date > stratDate && e.Day.Date < endDate)
        {
            e.Cell.Font.Italic = true;
            e.Cell.Font.Size = FontUnit.XLarge;
            e.Cell.Font.Strikeout = true;
            e.Cell.CssClass = "CustomCellCss";
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>How to use CSS style in Calendar individual Day Cell</title>
    <style type="text/css">
        .CustomCellCss a:hover {
            background-color: DarkOrange;
            padding: 0px 30px 0px 30px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2 style="color:SlateBlue; font-style:italic;">
                How to use CSS style in Calendar individual Day Cell
            </h2>
            <hr width="550" align="left" color="SlateGray" />
            <asp:Calendar ID="Calendar1"
                          runat="server"
                          NextPrevFormat="FullMonth"
                          ForeColor="WhiteSmoke"
                          SelectionMode="Day"
                          DayNameFormat="Full"
                          Font-Names="Book Antiqua"
                          Font-Size="Medium"
                          OnDayRender="Calendar1_DayRender"
                          VisibleDate="12/1/2011">
                <DayHeaderStyle BackColor="DodgerBlue" />
                <DayStyle BackColor="Crimson"
                          BorderColor="IndianRed"
                          BorderWidth="1"
                          Font-Bold="true"
                          Font-Italic="true" />
                <NextPrevStyle Font-Italic="true"
                               Font-Names="Arial CE" />
                <SelectedDayStyle BackColor="Green"
                                  BorderColor="SpringGreen" />
                <OtherMonthDayStyle BackColor="DarkRed" />
                <TitleStyle BackColor="MidnightBlue"
                            Height="36"
                            Font-Size="Large"
                            Font-Names="Courier New Baltic" />
            </asp:Calendar>
        </div>
    </form>
</body>
</html>