@using ProjectMayhem.Models

@model ScheduleViewModel

@{
    ViewBag.Title = "Learning schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<p>Current year: @Model.Year, quarter: @Model.Quarter</p>

<!-- This holds the generated Learning Schedule element.-->
<div id="schedule">

</div>

<!-- Modal dialog to show learning day details. -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="topicName"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<!--This is an old way to use FullCalendar-->
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Learning/GetLearningDays", // Change to learning days endpoint.
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Topic.Name,
                            description: 'Placeholder', // v.Description, // Not sure, why we would need descriptions here.
                            start: moment(v.Date),
                            end: null,
                            color: 'Blue', // Could store the color inside learning days.
                            allDay: true
                        })
                    });

                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed to get learning days');
                }
            })

            function GenerateCalendar(events) {
                $('#schedule').fullCalendar('destroy');
                $('#schedule').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (learningEvent, jsEvent, view) {
                        $('#myModal #topicName').text(learningEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:<b/>' + learningEvent.start.format("YYYY-MMM-DD")));
                        $description.append($('<p/>').html('<b>Description:</b>' + 'Place to describe the learning day (sub topics and stuff)'
                        + '<br/> or alternatively a user-written description of personal goals and then the list of sub-topics'));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
}