@model ProjectMayhem.Models.ReportViewModel
@{
    ViewBag.Title = "Seleact a report";
}

<h2>Select a report</h2>
<body>
    @*@Html.DropDownList(
        "topicsDropdown",
        Model.Topics.Select(t => new SelectListItem
        {
            Value = t.TopicsId.ToString(),
            Text = t.Title
        }),
        new { @class = "form-control" })*@
    <h3>Select topic to view people who know it</h3>
    @using (Html.BeginForm("GetPeopleByTopic", "Report", FormMethod.Post, new { id = "FormUsersByTopic"}))
    {
        @Html.DropDownListFor(
             m => m.SelectedTopicId,
             Model.Topics.Select(t => new SelectListItem
             {
                 Value = t.TopicsId.ToString(),
                 Text = t.Title
             }), new { id = "topicSelect"})
        <input type="submit" value="Submit"/>
    }


</body>

