@model ProjectMayhem.Models.ReportViewModel

@{
    ViewBag.Title = "UserList";
}

    <br />
<ul>
    @foreach (var Emp in Model.Users)
    {
        <li>
            <div>
                @Emp.Email
            </div>
        </li>
    }
</ul>


