@{
    ViewBag.Title = "Home Page";
}

<body class="background-body">
    <div class="jumbotron">
        <h1>Project Mayhem</h1>
        <p class="lead">A simple shedule management website</p>
    </div>
</body>