@{
    ViewBag.Title = "Home Page";
}

<body class="background-body">
    <div class="jumbotron">
        <h2 class="text-center" style="padding-bottom: 30px;">Project Mayhem</h2>
        <p class="lead">
            A simple learning schedule management website. Here you may plan your learning schedule, receive help and help others while learning. 
            What may be an ordinary reference link, may be an entry point to discovery for others. 
            So keep in mind that sharing is caring and plan your learning process properly.
        </p>

        <h3>Getting started</h3>
        <p>
            Have you received an invitation link and set up your credentials? You can click "log in" to access your account. <br />
            Otherwise you will need to follow these steps:
            <ol>
                <li>Notify your supervisor, team leader or mentor to send you an invitation,</li>
                <li>Wait for the invitation email to pop up in your mailbox,</li>
                <li>Open the email and click on the registration link,</li>
                <li>Type your log in credentials and click "Register".</li>
            </ol>
            Once you register, your account will be considered verified and you will be able to log in and begin learning.
        </p>
    </div>
</body>