@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error:</h1>
@if (Model != null)
{
    <h2>@Model.Exception.Message</h2>
}
else
{
    <h2>An error occurred while processing your request.</h2>
}


