<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleKey" value="594914990376-fbr1mejfa1qv2gfg62gdqeu97rsgn5ci.apps.googleusercontent.com" />
    <add key="GoogleSecret" value="qa7_Vak0tSXSMrBqNsIhGZFZ" />
    <add key="SendGrid" value="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" />
  </appSettings>
</configuration>